@CHARSET "UTF-8";
#loginUl{
float:right;
}

.loginLi{
	display:inline;
	padding:10px;
}

.panel-body{
	height: 500px;
	border-radius: 4px;
	color: DEF0F1;
	
}

.text-center{
	height: 100%;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}
